body {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
}

.left {
  border: 0;
  padding-top: 75px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #495963;
}

.right {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #D1D8DC;
  overflow: scroll
}

/* Header styles*/
header {
  width: 100%;
  color: #FFFFFF;
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 800;

}

h2 {
  margin: 5%;
  color: #FFFFFF;
  font-size: 20px;
}

img {
  height:55px;
}

/*Form Styles*/
.input-field {
  font-size: 30px;
  padding: 8px;
  width: 85%;
  margin-bottom: 40px;
  color: black;
  text-indent: 15px;
}

#enter-button {
  background-color: #FFC107;
  font-size: 25px;
  color: white;
  width: 85%;
  height: 60px;
}

.counter {
  color: #FFC107;
  font-size: 40px;
}

/*List Styles*/
.input-field::placeholder {
  text-align: left;
  color: lightgray;
}

button:hover {
  background-color: #FFD773;
}

.bookmarks {
  margin: 3%;
  width: 90%;
  height: 230px;
  border: 3px solid #607D8B;
  color: #455A64;
  background-color: #ffffff;
}

section {
  text-align: center;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border: solid 0px black;
  margin
}

button {
  font-size: 16px;
  color: white;
  border: 0;
  background-color: #FFC107;
  width: 325px;
  height: 33px;
}

button:hover {
  font-size: 16px;
  color: white;
  border: 0;
  background-color: #FFD773;
  width: 325px;
  height: 33px;
}

.bookmark-h1  {
  text-align: left;
  margin:10px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 400;
  border-bottom: 2px solid #CFD8DC;
  color: #455a64;
  
}
.bookmarksRead  {
  margin: 3%;
  width: 90%;
  height: 230px;
  color: #455A64;
  background-color: #F2F4F4;
}



#readButton,
#deleteButton  {
  background-color: transparent;
  color: #455A64;
  width: 60px;
  height: 20px;
  vertical-align: bottom;
  display: inline;
  font-size: 25px;
}


#readButton  {
  position: absolute;
  left: 15%;
}

#deleteButton  {
  position: absolute;
  right: 12%;
}

#websiteLink  {
  position: relative;
  padding: 25px;
  color: #607D8B;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  margin: 15px;
  border-bottom: 2px solid #CFD8DC;
}

a  {
  display: block;
}

ul {
  list-style-type: none;
}

.delete {

  margin: 3%;
  width: 90%;
  height: 230px;
  display: none;
  color: red;
}


#enter:hover  {
  background-color: #FFD773;
}

#readButton:hover,
#deleteButton:hover,
#websiteLink:hover  {
  font-weight: 600;
  text-decoration: underline #FFC107;
}


@media only screen and (max-width: 1000px) {
 header  {
   margin-bottom: 0px;
   font-size: 35px;
   display: inline;
 }
 .header-img  {
   height: 3rem;
 }
 section  {
   display: block;
 }
 .left  {
   position: absolute;
   display: block;
   width: 50%;
 }
 .right  {
   position: absolute;
   /*top: 750px;*/
   display: block;
   width: 50%;
   overflow: scroll;
 }
 p  {
   display: inline;
   font-size: 9vw;
 }
 #website-title,
 #url,
 #enter  {
   width: 90%;
   margin-bottom: 0px;
 }
 #enter  {
   width: 91%;
   margin-left: -5px;
 }
}











