body {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

  margin-top: 60px;
}

header {
  color: #FFFFFF;
  font-size: 50px
  /*font-weight: bold 800;*/
}

form {

}

fieldset {
  /*text-align: center;*/
border: 0;
}

section {
  text-align: center;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border: solid 0px black;
  margin
}

button {
  font-size: 16px;
  color: white;
  border: 0;
  background-color: #FFC107;
  width: 325px;
  height: 33px;
}

button:hover {
  font-size: 16px;
  color: white;
  border: 0;
  background-color: #FFD773;
  width: 325px;
  height: 33px;
}

.bookmarks {
  margin: 5%;
  width: 90%;
  height: 28%;
  border: 1px solid black;
}

.email {
  padding-top: 15%;
  position: absolute;
  left: 0;
  top: 0;

  background-color: #495963;
}

.output {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #D1D8DC;
}